[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "erify"]
	path = erify
	url = https://github.com/flujoo/erify
	shallow = true
	registered = true
[submodule "gm"]
	path = gm
	url = https://github.com/flujoo/gm
	shallow = true
	registered = true
[submodule "personr"]
	path = personr
	url = https://github.com/flujoo/personr
	shallow = true
	registered = true
