[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "erify"]
	path = erify
	url = https://github.com/flujoo/erify
[submodule "gm"]
	path = gm
	url = https://github.com/flujoo/gm
[submodule "personr"]
	path = personr
	url = https://github.com/flujoo/personr
